/* HTML: <div class="loader"></div> */
.loader {
  height: 40px;
  aspect-ratio: 1.5;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  background: #fff;
  border-radius: 80px 80px 0 0;
  animation: l10 1s infinite alternate both;
}
.loader:after {
  transform: scale(-1);
  animation-delay: 0.2s;
}
@keyframes l10 {
  0%,
  10% {margin-inline:0 33%}
  50% {margin-inline:0 0}
  90%,
  100%{margin-inline:33% 0}
}

.loader-2 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 
    0 0 0 rgb(255 0 0), 
    0 0 0 rgb(0 255 0), 
    0 0 0 rgb(0 0 255);
  font-size: 30px;
  animation: l32 1s infinite cubic-bezier(0.5,-2000,0.5,2000);
}
.loader-2:before {
  content:"Loading...";
}

@keyframes l32{
  25%,100% {
  text-shadow: 
     0.03px -0.01px 0.01px rgb(255 0 0), 
     0.02px  0.02px 0     rgb(0 255 0), 
    -0.02px  0.02px 0     rgb(0 0 255);
  }
}