@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.space-grotesk {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk", "Noto Sans", sans-serif;
  padding: 0.9rem 2.5rem;
  color: white;
  box-sizing: border-box;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-links li {
  margin: 0 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #00bcd4;
}