
.toggle-container {
    position: relative;
    width: 80px;
    height: 40px;
    border: 2px solid white; /* Border for the container */
    border-radius: 50px;
    background: transparent; /* Transparent background */
    cursor: pointer;
}

.toggle-container input {
    display: none;
}

.slider {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 32px;
    width: 32px;
    border: 2px solid white;
    /* Border for the slider */
    border-radius: 50%;
    background: transparent;
    /* Transparent background */
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked + .slider {
    transform: translateX(41px); /* Move the slider to the right */
    background-color: #fff; /* Bright knob remains */
    box-shadow: 0 0 10px #fff, 0 0 10px #fff inset; /* Bright green glow */
}
 